<ul class="list-unstyled">
    <li><a href="https://twitter.com/iAmBipinPaul"><i class="fa fa-twitter"></i> Twitter (iAmBipinPaul)</a></li>
    <li><a href="https://github.com/iAmBipinPaul"><i class="fa fa-github"></i> GitHub (iAmBipinPaul)</a></li>
    <li><a href="https://stackoverflow.com/users/5678666/bipn-paul"><i class="fa fa-stack-overflow"></i> Stack Overflow (Bipin Paul)</a></li>
    <li><a href="https://www.linkedin.com/in/iambipinpaul"><i class="fa fa-linkedin"></i> LinkedIn  (iAmBipinPaul)</a></li>
</ul>