Title: About
Image: images/MountEverest.jpg
---

<p>Hello, It's Bipin Paul.</p>
<p>I am currently wokring as Software Developer  at a small software company where I work moslty on ASP.NET Core, ASPNET BOILARPLATE, Entity Framework Core , Razor Page to build Web based businees line of applications.

</p>

<p>Follow  me on </p>
@Html.Partial("_SocialLinks")
<div class="skype-button bubble" data-contact-id="iambipinpaul"></div>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
