Title: About
Image: images/MountEverest.jpg
---

<p>Hello, It's Bipin Paul.</p>
<p>I am currently wokring as Software Developer  at a small software company where I work moslty on ASP.NET Core, ASPNET BOILARPLATE, Entity Framework Core , Razor Page to build Web based businees line of applications.

</p>

<p>Follow  me on </p>
<ul class="list-unstyled">
    <li><a href="https://twitter.com/iAmBipinPaul"><i class="fab fa-twitter"></i> Twitter <small>(iAmBipinPaul)</small></a></li>
    <li><a href="https://github.com/iAmBipinPaul"><i class="fab fa-github"></i> GitHub <small>(iAmBipinPaul)</small></a></li>
    <li><a href="http://stackoverflow.com/users/5678666/bipn-paul"><i class="fab fa-stack-overflow"></i> Stack Overflow <small>(iAmBipinPaul)</small></a></li>
    <li><a href="https://www.linkedin.com/in/iambipinpaul"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
</ul>
<div class="skype-button bubble" data-contact-id="iambipinpaul"></div>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
